<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <p><% if(messages) { %> 
      <% for (let i = 0; i < messages.length; i++) { %>
        <p>
          <%= messages[i].user %>:  [Added at: <%= messages[i].added.toLocaleTimeString('en-US')%>]:
          <%= messages[i].text %>
        </p>
      <% } %>
      <% }%></p>
    <form action="/new"><button formmethod="get">Submit a new post</button></form>
  </body>
</html>
